<script src="https://apis.google.com/js/platform.js" async defer>
</script>
<h2>WELCOME TO WEBCHAT</h2>
<div id="buttoncss">
    <div id="signbutton">
        <h1>Google</h1>
        <button (click)="socialSignIn('google')">Sign in with Google</button>
    </div>

</div>