body {
    margin: 0px;
}

#operations {
    width: 30%;
    height: 500px;
    background-color: #4A394B;
    float: left;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

#chatwindows {
    position: relative;
    float: right;
    width: 70%;
    height: 450px;
    background-color: #FFFFFF;
}

#msgfield {
    position: absolute;
    width: 400px;
    margin-left: 50px;
}

#inputfield {
    position: absolute;
    margin-left: 5px;
    bottom: 40px;
    border-color: rgb(185, 195, 206);
}

#msgs {
    word-wrap: break-word;
    overflow: auto;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column-reverse;
}

#send {
    position: absolute;
    bottom: 0px;
    margin-left: 860px;
}

li {
    list-style-type: none;
}

#channels {
    list-style-type: square;
    color: #FFFFFF
}

#channels:hover {
    color: rgb(154, 155, 156);
    cursor: pointer;
}

#head {
    margin-top: 0px;
    margin-left: 0px;
    border-bottom: 1px solid rgb(219, 225, 231);
    width: 70%;
    height: 50px;
    margin-left: 30.3%;
}

#new {
    width: 300px;
    height: 25px;
    margin-bottom: 4px;
    border: none;
    margin-left: 2px;
    border-radius: 4px;
}

#search {
    width: 300px;
    height: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    border: none;
    margin-left: 2px;
    border-radius: 4px;
}

button {
    border-radius: 3px;
    border: none;
    margin-left: 2px;
}

.sender {
    width: 300px;
    height: 60px;
    margin-right: 50px;
    float: right;
    background-color: rgb(104, 184, 177);
}

.reciever {
    width: 300px;
    height: 60px;
    margin-left: 50px;
    float: left;
    background-color: rgb(169, 197, 92);
}

h4 {
    text-align: center;
    color: #FFFFFF;
}