<div id="wrapperwindow">
    <!-- left panel -->
    <div id="operations">
        <h3>{{username}}</h3>
        <input id="new" type="text" [(ngModel)]="channelName" placeholder="New Group"><br />
        <button (click)="createChannels()">NEW GROUP</button><br />
        <input id="search" type="text" placeholder="Search..." [(ngModel)]="channel" (keydown.enter)="searchGroup()"><br />
        <span>{{result}}</span>
        <div>
            <div>

                <button (click)="addMembers()">JOIN</button>
            </div>
            <div>
                <div>
                    <h4>JOINED GROUP</h4>
                </div>
                <ul>
                    <li id="channels" *ngFor="let c of myChannelArray" (click)="showUserMsg(c.id)">
                        {{c.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- right panel -->
    <div id="head">
        <button (click)="log()">LOGOUT</button>

    </div>
    <div id="chatwindows">

        <div id="msgs">
            <ul>
                <li *ngFor="let m of messageArray">
                    <div [ngClass]="{'sender':m.senderid==identity,'reciever':m.senderid!=identity}">
                        {{m.msgs}}
                    </div><br /><br /><br />
                </li>
            </ul>

        </div>
        <div id="inputfield">
            <input id="msgfield" type="text" [(ngModel)]="Messages" placeholder="Enter your Message..." (keydown.enter)="sendUserMessage()">

        </div>
    </div>
</div>